<!-- Placeholder for the scan widget -->
<div id="twain_wrapper">
</div>

<div id="twain_toolbox">
    <label for="source">Select the source:</label>
    <select size="1" name="source" id= "source"></select>



    <p id="multiple_box">
        <input id="btnFirstImage" type="button" value=" |< ">
        <input id="btnPreImage" type="button" value=" < ">
        <input type="text" name="CurrentImage" size="2" id="CurrentImage" readonly="readOnly"/>/
        <input type="text" name="TotalImage" size="2" id="TotalImage" readonly="readOnly" value="0"/>
        <input id="btnNextImage" type="button" value=" &gt ">
        <input id="btnLastImage" type="button" value=" &gt| ">
        <input id="btnRemoveCurrentImage" type="button" value="Remove Current Image">
        <input id="btnRemoveAllImages" type="button" value="Remove All Images">
    </p>


    <input id="btnScan" type="button" value="Scan" onclick="btnScan_onclick();">

</div>


<script type="text/javascript" charset="utf-8">
    /*
     * Configuration
     */

    /* Settings provided by Django */
    var RESOLUTION = {{default_resolution}};
    var SERVER = "{{server}}";
    var UPLOAD_PATH = "{{upload_path}}";
    var MULTIPLE = {{multiple}};

    /* URIs */
    var default_url = "{{base_url}}/DynamicWebTWAINPlugIn.exe";
    var firefox_url = "{{base_url}}/DynamicWebTwain.xpi";

    var url = default_url;

    /* Switch for the XPI when using Firefox */
    if (/Firefox[\/\s](\d+\.\d+)/.test(navigator.userAgent)){
        url = firefox_url;
    }

    /* Snippet to insert in the page */
    var snippet = '<embed\
        TYPE="Application/DynamicWebTwain-Plugin"\
        OnPreTransfer="OnPreTransferCallback"\
        OnPostTransfer="OnPostTransferCallback"\
        OnPreAllTransfers="OnPreAllTransfersCallback"\
        OnPostAllTransfers="OnPostAllTransfersCallback"\
        OnTransferCancelled="OnTransferCancelledCallback"\
        OnTransferError="OnTransferErrorCallback"\
        OnMouseClick="OnMouseClickCallback"\
        OnMouseMove="OnMouseMoveCallback"\
        OnMouseRightClick="OnMouseRightClickCallback"\
        OnMouseDoubleClick="OnMouseDoubleClickCallback"\
        OnTopImageInTheViewChanged="OnTopImageInTheViewChangedCallback"\
        OnImageAreaSelected="OnImageAreaSelectedCallback"\
        OnImageAreaDeSelected="OnImageAreaDeSelectedCallback"\
        id="twain_instance"\
        width="{{width}}"\
        height="{{height}}"\
        twain_instancespage="'+url+'">\
    </embed>';

    /* Declare the callbacks otherwise they will trigger errors if they are not overrided */
    function OnPreTransferCallback(){}
    function OnPostTransferCallback(){}
    function OnPreAllTransfersCallback(){}
    function OnPostAllTransfersCallback(){}
    function OnTransferCancelledCallback(){}
    function OnTransferErrorCallback(){}
    function OnMouseClickCallback(sImageIndex){}
    function OnMouseMoveCallback(sImageIndex){}
    function OnMouseRightClickCallback(sImageIndex){}
    function OnMouseDoubleClickCallback(sImageIndex){}
    function OnTopImageInTheViewChangedCallback(sImageIndex){}
    function OnImageAreaSelectedCallback(sImageIndex, left, top, right, bottom){}
    function OnImageAreaDeSelectedCallback(sImageIndex){}

    /* Create a variable witch contains a reference to the twain_instance. */
    var twain_instance = null;

    /*
     * Utils
     */
    
    function CheckIfImagesInBuffer() {
        if (twain_instance.HowManyImagesInBuffer == 0) {
            alert("There is no image in buffer");
            return 0;
        }
    }

    function UpdateCounters() {
        $("#TotalImage").val(twain_instance.HowManyImagesInBuffer);
        $("#CurrentImage").val(twain_instance.CurrentImageIndexInBuffer + 1);
    }

    /*
     * Callbacks overrides
     */

    /* Update the counters of buffered images after each transfert (=scan) */
    function OnPostTransferCallback() {
        UpdateCounters();
    }

    /*
     * Scan callback
     */

    function btnScan_onclick() {

        /* We remove all images before each scan so we are sure the user only
           scans one image */
        if (MULTIPLE == false) { twain_instance.RemoveAllImages(); }

        /* Select the input source*/
        var index = $("#source").val();
        twain_instance.SelectSourceByIndex(index);

        /* Reset the source (flush its internal buffer) */
        twain_instance.CloseSource();
        twain_instance.OpenSource();

        /* Their UI is pure shit, we have talented desiners */
        twain_instance.IfShowUI = false;
        
        /* Set the scan settings */
        twain_instance.PixelType='V14'; // V14=RGB V13=GRAY
        twain_instance.IfDisableSourceAfterAcquire = true;
        twain_instance.Resolution = RESOLUTION;

        /* Check if the resolution is supported */
        if (twain_instance.Resolution != RESOLUTION) {
            alert("Fail to set resolution.\nCurrent source does not support the resolution you set.\nScan with default resolution.\n");
        }

        /* Some advanced scan settings, see Wikipedia for more explanations */
        twain_instance.IfFeederEnabled = "ON";
        twain_instance.IfDuplexEnabled = "OFF";

        /* GO! */
        twain_instance.AcquireImage();
    }

    /*
     * Upload callback
     */
    
    function btnUpload_onclick(){
        CheckIfImagesInBuffer();
        
        /* Upload as PDF. Yeah, their API is pure bullshit */
        twain_instance.HTTPUploadAllThroughPostAsPDF(
                SERVER, 
                UPLOAD_PATH,
                "upload.pdf"
        );

        /* Check eventual errors */
        if (twain_instance.ErrorCode == 0) {
            alert("Awesome! It worked.");
        }
    }

    /*
     * Navigation callbacks
     */

    function btnFirstImage_onclick() {
        CheckIfImagesInBuffer();
        twain_instance.CurrentImageIndexInBuffer = 0;
        UpdateCounters();
    }

    function btnPreImage_onclick() {
        CheckIfImagesInBuffer();
        if (twain_instance.CurrentImageIndexInBuffer == 0) { return null; }
        twain_instance.CurrentImageIndexInBuffer = twain_instance.CurrentImageIndexInBuffer - 1;
        UpdateCounters();
    }

    function btnNextImage_onclick() {
        CheckIfImagesInBuffer();
        if (twain_instance.CurrentImageIndexInBuffer == twain_instance.HowManyImagesInBuffer - 1) { return null; };
        twain_instance.CurrentImageIndexInBuffer = twain_instance.CurrentImageIndexInBuffer + 1;
        UpdateCounters();
    }

    function btnLastImage_onclick() {
        CheckIfImagesInBuffer();
        twain_instance.CurrentImageIndexInBuffer = twain_instance.HowManyImagesInBuffer - 1;
        UpdateCounters();
    }

    function btnRemoveCurrentImage_onclick() {
        CheckIfImagesInBuffer();
        twain_instance.RemoveImage(twain_instance.CurrentImageIndexInBuffer);
        if (twain_instance.HowManyImagesInBuffer == 0) {
            $("#TotalImage").val(twain_instance.HowManyImagesInBuffer);
            $("#CurrentImage").val('');
            return null;
        }
        else {
            UpdateCounters();
        }
    }

    function btnRemoveAllImages_onclick() {
        CheckIfImagesInBuffer();
        twain_instance.RemoveAllImages();
        $("#TotalImage").val('0');
        $("#CurrentImage").val('');
    }

    /*
     * Initialization
     */

    $(document).ready(function(){
        /* Insert the snippet in the DOM */
        $("#twain_wrapper").html(snippet);

        /* Fill the instance pointer */
        twain_instance = $("#twain_instance");
        twain_instance = document.getElementById('twain_instance');

        /* Hide the navigation buttons if you want only one doc at time
           and also bind callbacks. */
        if (MULTIPLE == false) {
            $("#multiple_box").hide();
            $("#btnFirstImage").click(btnFirstImage_onclick);
            $("#btnPreImage").click(btnPreImage_onclick);
            $("#btnNextImage").click(btnNextImage_onclick);
            $("#btnLastImage").click(btnLastImage_onclick);
            $("#btnRemoveCurrentImage").click(btnRemoveCurrentImage_onclick);
            $("#btnRemoveAllImages").click(btnRemoveAllImages_onclick);
        }


        /* We check if the module is correctly loaded */
        if(twain_instance.ErrorCode != "0") {
            var ua = navigator.userAgent;
            if(ua.match(/firefox\/([\d.]+)/)) {
                $("#IsControlInstalled").hide();
                $("#DynamicWebTWAIN").show();
            }
            else {
                if(ua.match(/chrome\/([\d.]+)/)||ua.match(/opera.([\d.]+)/)||ua.match(/version\/([\d.]+).*safari/)) {
                    $("#IsControlInstalled").show();
                    $("#DynamicWebTWAIN").hide();
                }
            }
        }

        /* Set a maximum number of images in the buffer */
        twain_instance.MaxImagesInBuffer = 100;
        /* Change the cursor of the mouse when it is on the control */
        twain_instance.MouseShape = true; //HandShape

        /* Remove existing sources */
        $("#source option").each(function(){ $(this).remove(); });
        for (var i=0; i < twain_instance.SourceCount; i++) {
            $("#source").append("<option value='"+i+"'>"+twain_instance.SourceNameItems(i)+"</option>");
        }

        /* Select the first by default */
        $("#source option").first().attr("selected", "selected");

        /* Set the view mode (ratio, AFAIK) */
        twain_instance.SetViewMode(1,1);

        /* Bind the scan and upload buttons */
        $("btnScan").click(btnScan_onclick);
        $("btnUpload").click(btnUpload_onclick);
    });
</script>
