{% load dynamictwain %}
<html>
    <head>
        <title>Scan test page</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Example form</h2>
        <form action="/foobar/" method="post" accept-charset="utf-8">
            
            <input type="text" name="some_name" value="">

            {% scan_widget "600x800" "False" %}

            {% submit_for_with_scan %}
        
        </form>
    </body>
</html>
