<!-- Placeholder for the scan widget -->
<div id="twain_wrapper">
</div>

<div id="twain_toolbox">
    <label for="source">Select the source:</label>
    <select size="1" name="source" id= "source"></select>



    <p>
        <input id="btnFirstImage" onClick="return btnFirstImage_onclick()" type="button" value=" |< ">&nbsp;
        <input id="btnPreImage" onClick="return btnPreImage_onclick()" type="button" value=" < ">&nbsp;
        <input type="text" name="CurrentImage" size="2" id="CurrentImage" readonly="readOnly"/>/
        <input type="text" name="TotalImage" size="2" id="TotalImage" readonly="readOnly" value="0"/>&nbsp;
        <input id="btnNextImage" onClick="return btnNextImage_onclick()" type="button" value=" &gt ">&nbsp;
        <input id="btnLastImage" onClick="return btnLastImage_onclick()" type="button" value=" &gt| ">
        <input id="btnRemoveCurrentImage" onClick="return btnRemoveCurrentImage_onclick()" type="button" value="Remove Current Image">
        <input id="btnRemoveAllImages" onClick="return btnRemoveAllImages_onclick()" type="button" value="Remove All Images">
    </p>


    <input id="btnScan" type="button" value="Scan" onclick="btnScan_onclick();">
    <input id="btnUpload" type="button" value="Upload" onclick="btnUpload_onclick();">
    


</div>


<script type="text/javascript" charset="utf-8">
    var default_url = "{{base_url}}/DynamicWebTWAINPlugIn.exe";
    var firefox_url = "{{base_url}}/DynamicWebTwain.xpi";
    <!--var firefox_url = "http://www.dynamsoft.com/demo/DWT5/DynamicWebTwain.xpi";-->

    var url = default_url;

    /* Switch for the XPI when using Firefox */
    if (/Firefox[\/\s](\d+\.\d+)/.test(navigator.userAgent)){
        url = firefox_url;
    }

    /* Snippet to insert in the page */
    var snippet = '<embed\
        TYPE="Application/DynamicWebTwain-Plugin"\
        OnPreTransfer="OnPreTransferCallback"\
        OnPostTransfer="OnPostTransferCallback"\
        OnPreAllTransfers="OnPreAllTransfersCallback"\
        OnPostAllTransfers="OnPostAllTransfersCallback"\
        OnTransferCancelled="OnTransferCancelledCallback"\
        OnTransferError="OnTransferErrorCallback"\
        OnMouseClick="OnMouseClickCallback"\
        OnMouseMove="OnMouseMoveCallback"\
        OnMouseRightClick="OnMouseRightClickCallback"\
        OnMouseDoubleClick="OnMouseDoubleClickCallback"\
        OnTopImageInTheViewChanged="OnTopImageInTheViewChangedCallback"\
        OnImageAreaSelected="OnImageAreaSelectedCallback"\
        OnImageAreaDeSelected="OnImageAreaDeSelectedCallback"\
        id="twain_instance"\
        width="{{width}}"\
        height="{{height}}"\
        twain_instancespage="'+url+'">\
    </embed>';

    /* Insert it */
    document.getElementById("twain_wrapper").innerHTML = snippet;
    
    /* Declare the callbacks otherwise they will trigger errors if they are not overrided */
    function OnPreTransferCallback(){}
    function OnPostTransferCallback(){}
    function OnPreAllTransfersCallback(){}
    function OnPostAllTransfersCallback(){}
    function OnTransferCancelledCallback(){}
    function OnTransferErrorCallback(){}
    function OnMouseClickCallback(sImageIndex){}
    function OnMouseMoveCallback(sImageIndex){}
    function OnMouseRightClickCallback(sImageIndex){}
    function OnMouseDoubleClickCallback(sImageIndex){}
    function OnTopImageInTheViewChangedCallback(sImageIndex){}
    function OnImageAreaSelectedCallback(sImageIndex, left, top, right, bottom){}
    function OnImageAreaDeSelectedCallback(sImageIndex){}

    /* Create a variable witch contains a reference to the twain_instance. */
    var twain_instance = document.getElementById('twain_instance');

</script>




<!-- Toolbox -->
<script type="text/javascript" charset="utf-8">
    var RESOLUTION = 150;
    var SERVER = "mbp";
    var UPLOAD_PATH = "/twain/upload/";

    function CheckIfImagesInBuffer() {
        if (twain_instance.HowManyImagesInBuffer == 0) {
            alert("There is no image in buffer");
            return 0;
        }
    }
    function CheckErrorString() {
        alert(twain_instance.ErrorString);
        //alert(twain_instance.HTTPPostResponseString);
        return;
    }


    /*
     * Initialize the default twain_instance (Max images in buffer, view mode
     * and so on...
     */
    function Pageonload() {
        /* We check if the plugin is successfully loaded. */
        if(twain_instance.ErrorCode != "0"){
            if(ua.match(/firefox\/([\d.]+)/)){
                document.getElementById("IsControlInstalled").style.display = "none";
                document.getElementById("DynamicWebTWAIN").style.display="block";
            }
            else
                if(ua.match(/chrome\/([\d.]+)/)||ua.match(/opera.([\d.]+)/)||ua.match(/version\/([\d.]+).*safari/)){
                    document.getElementById("IsControlInstalled").style.display = "block";
                    document.getElementById("DynamicWebTWAIN").style.display="none";
                }
        }
        twain_instance.MaxImagesInBuffer = 100;
        twain_instance.MouseShape = true;//HandShape

        /* Probe the sources */
        var i;
        document.getElementById("source").options.length=0;
        for(i=0;i< twain_instance.SourceCount;i++) {
            document.getElementById("source").options.add(new Option(twain_instance.SourceNameItems(i),i));
        }

        twain_instance.SetViewMode(1,1);
    }


    //====================Preview Group Start====================//
    function btnFirstImage_onclick() {
        CheckIfImagesInBuffer();
        twain_instance.CurrentImageIndexInBuffer = 0;
        document.getElementById("TotalImage").value = twain_instance.HowManyImagesInBuffer;
        document.getElementById("CurrentImage").value = twain_instance.CurrentImageIndexInBuffer+1;
    }
    function btnPreImage_onclick() {
        CheckIfImagesInBuffer();
        if (twain_instance.CurrentImageIndexInBuffer == 0)
            return;
        twain_instance.CurrentImageIndexInBuffer = twain_instance.CurrentImageIndexInBuffer - 1;
        document.getElementById("TotalImage").value = twain_instance.HowManyImagesInBuffer;
        document.getElementById("CurrentImage").value = twain_instance.CurrentImageIndexInBuffer+1;
    }
    function btnNextImage_onclick() {
        CheckIfImagesInBuffer();
        if (twain_instance.CurrentImageIndexInBuffer == twain_instance.HowManyImagesInBuffer - 1)
           return;
        twain_instance.CurrentImageIndexInBuffer = twain_instance.CurrentImageIndexInBuffer + 1;
        document.getElementById("TotalImage").value = twain_instance.HowManyImagesInBuffer;
        document.getElementById("CurrentImage").value = twain_instance.CurrentImageIndexInBuffer+1;
    }
    function btnLastImage_onclick() {
        CheckIfImagesInBuffer();
        twain_instance.CurrentImageIndexInBuffer = twain_instance.HowManyImagesInBuffer - 1;
        document.getElementById("TotalImage").value = twain_instance.HowManyImagesInBuffer;
        document.getElementById("CurrentImage").value = twain_instance.CurrentImageIndexInBuffer+1;
    }
    function btnRemoveCurrentImage_onclick() {
        CheckIfImagesInBuffer();
        twain_instance.RemoveImage(twain_instance.CurrentImageIndexInBuffer);
        if (twain_instance.HowManyImagesInBuffer == 0){
            document.getElementById("TotalImage").value = twain_instance.HowManyImagesInBuffer;
            document.getElementById("CurrentImage").value = "";
            return;
        }
        else{
            document.getElementById("TotalImage").value = twain_instance.HowManyImagesInBuffer;
            document.getElementById("CurrentImage").value = twain_instance.CurrentImageIndexInBuffer+1;
        }
    }
    function btnRemoveAllImages_onclick() {
        CheckIfImagesInBuffer();
        twain_instance.RemoveAllImages();
        document.getElementById("TotalImage").value = "0";
      document.getElementById("CurrentImage").value = "";
    }



    function btnScan_onclick() {
        twain_instance.SelectSourceByIndex(document.all.source.selectedIndex);
        twain_instance.CloseSource();   
        twain_instance.OpenSource();

        twain_instance.IfShowUI = false;
        
        twain_instance.PixelType='V14'; // V14=RGB V13=GRAY
        twain_instance.IfDisableSourceAfterAcquire = true;
        twain_instance.Resolution = RESOLUTION;

        if (twain_instance.Resolution != RESOLUTION) {
            alert("Fail to set resolution.\nCurrent source does not support the resolution you set.\nScan with default resolution.\n");
        }

        twain_instance.IfFeederEnabled = "ON";
        twain_instance.IfDuplexEnabled = "OFF";

        /* GO! */
        twain_instance.AcquireImage();
    }

    function btnUpload_onclick(){
        CheckIfImagesInBuffer();
        
        /* Upload as PDF */
        twain_instance.HTTPUploadAllThroughPostAsPDF(
                SERVER, 
                UPLOAD_PATH,
                "upload.pdf"
        );

        /* Check eventual errors */
        CheckErrorString();
        if (twain_instance.ErrorCode == 0) {
            alert("Awesome! It worked.");
        }
    }

    /* Update the counters of buffered images after each transfert (=scan) */
    function OnPostTransferCallback() {
        document.getElementById("TotalImage").value = twain_instance.HowManyImagesInBuffer;
        document.getElementById("CurrentImage").value = twain_instance.CurrentImageIndexInBuffer+1;
    }

        
    /* Load the init page script */
    Pageonload();
</script>
